.add-services {
  margin-bottom: 200px;
  font-size: 24px;

  @include vp-1919 {
    margin-bottom: 16.67%;
  }

  @include vp-1023 {
    font-size: 18px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    @include vp-767 {
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  .title {
    margin-bottom: 94px;

    @include vp-1919 {
      margin-bottom: 7.84%;
    }
  }

  &__services {
    width: 51.67%;

    @include vp-767 {
      width: 100%;
      margin-bottom: 50px;
    }
  }

  &__buttons {
    width: 41.67%;
    margin-top: -145px;

    @include vp-767 {
      width: 100%;
      margin-top: 0;
    }

    .btn {
      min-height: 60px;
      margin-bottom: 49px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__btn-img {
    position: relative;
    padding-top: 130px;
    margin-bottom: 49px;

    @include vp-1023 {
      margin-bottom: 25px;
    }
  }

  &__img {
    position: absolute;
    z-index: 5;
    top: -20px;
    right: 0;
    width: 192px;
    height: 150px;
    overflow: hidden;

    img {
      position: relative;
      z-index: -1;
      width: 100%;
      height: 100%;
      margin-top: 20px;
      object-fit: cover;
      transform: translateY(100%);
    }
  }

  .list {
    margin-bottom: 22px;
  }

  p {
    margin: 0;
    margin-bottom: 25px;
  }

  &__small {
    font-size: 12px;
  }
}