// Colors

$color-transparent:               rgba(255, 255, 255, 0);
$color-default-black:             #000000;
$color-black-pearl:               #010203;
$color-default-white:             #ffffff;
$color-whisper:                   #e5e5e5;
$color-navy-blue:                 #036cca;
$color-free-speech-red:           #cb0e0e;


// Gradients

$gradient-black:                    linear-gradient(180deg, #010203 0%, rgba(1, 2, 3, 0) 84.9%);
$gradient-yellow:                   radial-gradient(circle, #fafa00, #fbfb3d, #fcfc5a, #fdfd72, #fefe88, #fff89b, #fff3ad, #ffefc0, #ffebd7, #ffeff1, #fff8ff, #ffffff);


// Typography

$ff-sf:                         "SF", "Arial", sans-serif;
$ff-space:                      "Space", "Arial", sans-serif;

// Animation

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);
$trans-600:                         0.6s $tf-default;

// Viewports

$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1920:                           1920px;


// Padding
$padding-mob:                       0;
$padding-tab:                       20px;
$padding-desk:                      18.75%;
