// Colors

$color-transparent:               rgba(255, 255, 255, 0);
$color-default-black:             #000000;
$color-black-pearl:               #010203;
$color-default-white:             #ffffff;
$color-whisper:                   #e5e5e5;
$color-navy-blue:                 #036cca;
$color-free-speech-red:           #cb0e0e;

// Typography

$ff-sf:                         "SF", "Arial", sans-serif;
$ff-space:                      "Space", "Arial", sans-serif;

// Animation

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);
$trans-600:                         0.6s $tf-default;

// Viewports

$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1300:                           1300px;
$vp-1920:                           1920px;


// Padding
$padding-mob:                       20px;
$padding-desk:                      50px;
