.header {
  position: absolute;
  z-index: 100;
  width: 100%;
  padding: 5% 0 2%;
  background-color: $color-transparent;

  .container {
    display: flex;
    align-items: center;

    @include vp-1023 {
      justify-content: space-between;
    }
  }

  .nav {
    @include vp-1023 {
      overflow-y: scroll;
    }
  }

  &__tel {
    display: block;
    width: max-content;
    margin-right: 2%;
    font-size: 24px;
    font-weight: 400;
    line-height:1.2;
    color: $color-default-white;

    @include vp-1023 {
      font-size: 18px;
    }
  }

  &__logo {
    display: block;
    width: 30px;
    height: 30px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &.is-active {
    .menu {
      transform: rotateX(0);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      opacity: 1;
    }

    .burger {
      &__line {
        transform: translateX(-110%);

        &:nth-of-type(2) {
          transform: translateX(110%);
        }
      }

      &__lines::before {
        transform: rotate(45deg);
        transition-delay: 0.3s;
      }

      &__lines::after {
        transform: rotate(-45deg);
        transition-delay: 0.3s;
      }
    }
  }
}