header.header
  .container
    +nav(nav)
    a(href="tel:+080000000000").header__tel 0 800 000 000 00
    a(href="index.html").header__logo
      +picture("content","hemlet","png",30,30,"Шлем скафандра")