-const steps=["Выбираете программу","Оплачиваете","Какая-то будет подготовка","Садимся. Летим. Невесомость","Делаем фото в инстаграм","Едим из тюбиков: 5 видов меню на выбор (веган, спорт, безлактозное, безглютеновое, обычное)","Приземляемся, но это не точно"]
section.steps
  +picture("content","bg-2","jpg", 1920, 999, "Космос")
  .container
    h2.title Как все происходит
    +icon("stars", 555, 545)
    ul.steps__list
      each step,index in steps
        li.steps__step(data-step=index)!=step