.steps {
  position: relative;
  padding: 100px 0 157px;
  height: 700vh;

  @include vp-1919 {
    padding: 5.21% 0 8.7%;
  }

  &__bg {
    position: absolute;
    z-index: -2;
    top: 0;
    bottom: 0;
    right: 0;
    left: calc((-100vw + 1300px)/2);
    width: 100vw;
    height: 100%;
    background: $color-default-black;

    @include vp-1299 {
      left: 0;
      width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-height: 100vh;

    @include vp-1023 {
      position: sticky;
      justify-content: flex-start;
    }
  }

  .title {
    padding-bottom: 8%;
  }

  &__consellation {
    position: relative;
    display: flex;
    justify-content: center;
    width: 843px;
    height: 603px;
    margin-left: 4%;

    @media (max-width: 1050px) {
      margin-left: 0;
    }

    @include vp-1023 {
      width: 100%;
      margin-left: 0;
      max-height: 90vh;
      flex-direction: column;
      height: auto;

      @include landscape {
        flex-direction: row;
      }
    }

    &.is-small {
      .steps__list {
        position: relative;
        font-size: 14px;
        height: fit-content;
      }

      .steps__step {
        position: static;
        margin-bottom: 10px;
  
        &[data-step="0"] {
          max-width: 100%;
        }
    
        &[data-step="1"] {
          max-width: 100%;
        }
    
        &[data-step="2"] {
          max-width: 100%;
        }
    
        &[data-step="3"] {
          max-width: 100%;
        }
    
        &[data-step="4"] {
          text-align: left;
          transform-origin: center left;
          max-width: 100%;
        }
    
        &[data-step="5"] {
          max-width: 100%;
        }
    
        &[data-step="6"] {
          max-width: 100%;
        }
      }
    }


    svg {
      display: block;
      width: 70%;
      height: 93%;

      @include vp-1023 {
        width: 100%;
        height: auto;
        padding: 0;
      }
    }
  }

  &__sticky {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  &__list {
    position:absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;

    @include vp-1023 {
      position: relative;
      font-size: 14px;
      height: fit-content;
    }
  }

  &__step {
    position: absolute;
    width: 100%;
    transform-origin: center left;
    transition: color $trans-default, transform $trans-default;

    @include vp-1023 {
      position: static;
      margin-bottom: 10px;
    }

    &[data-step="0"] {
      top: 1.5%;
      left: 21%;
      max-width: 300px;

      @include vp-1023 {
        max-width: 100%;
      }
    }

    &[data-step="1"] {
      top: 14%;
      left: 39%;
      max-width: 300px;

      @include vp-1023 {
        max-width: 100%;
      }
    }

    &[data-step="2"] {
      top: 29%;
      left: 44%;
      max-width: 300px;

      @include vp-1023 {
        max-width: 100%;
      }
    }

    &[data-step="3"] {
      top: 49%;
      left: 52%;
      max-width: 300px;

      @include vp-1023 {
        max-width: 100%;
      }
    }

    &[data-step="4"] {
      top: 67.8%;
      right: 62%;
      max-width: 101px;
      text-align: right;
      transform-origin: center right;

      @include vp-1023 {
        text-align: left;
        transform-origin: center left;
        max-width: 100%;
      }
    }

    &[data-step="5"] {
      top: 70%;
      left: 83%;
      max-width: 280px;

      @include vp-1023 {
        max-width: 100%;
      }
    }

    &[data-step="6"] {
      top: 95%;
      left: 60%;
      max-width: 140px;

      @include vp-1023 {
        max-width: 100%;
      }
    }
  }

  circle {
    transition: clip-path $trans-default, fill $trans-default;
  }
}