.about-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;

  @include vp-1023 {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  &__img {
    width: 500px;
    min-height: 100%;

    @include vp-1299 {
      width: 40%;
    }

    @include vp-1023 {
      width: 500px;
      margin-bottom: 50px;
    }

    @include vp-767 {
      width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    width: 600px;
    margin-top: -6px;

    @include vp-1299 {
      width: 55%;
    }

    @include vp-1023 {
      width: 100%;
    }

    .title {
      margin-bottom: 5px;
    }

    .title--st {
      margin-bottom: 31px;
    }

    .text {
      margin-bottom: 48px;
    }

    .table {
      margin-bottom: 50px;
      
      @include vp-767 {
        width: calc(100vw - $padding-mob);
        margin-left: -$padding-mob;
        margin-bottom: 20px;
      }

      &__wrapper {
        @include vp-767 {
          overflow-y: hidden;
          width: 100vw;
          padding: 0 20px;
        }
      }

      table {
        min-width: 100%;
        margin-bottom: 20px;
        font-weight: 400;
        text-align: center;
        border-collapse: collapse;

        @include vp-767 {
          margin-bottom: 20px;
        }

        td {
          border-top: 1px solid $color-default-white;
          padding: 0 13px;

          &:first-child {
            padding-left: 0;
          }

          @include vp-1023 {
            padding: 0 10px;
          }
        }

        th {
          padding: 10px 18px 12px;
          font-weight: 400;
          border-top: 1px solid $color-default-white;

          &:first-child {
            padding-left: 0;
          }

          @include vp-1023 {
            padding: 10px 10px 12px;
          }

          @include vp-767 {
            white-space: nowrap;
          }
        }

        tbody {
          font-size: 36px;
          font-weight: 700;
          line-height: 1.194;

          tr:nth-child(2n) td {
            border-top: none;
            font-size: 14px;
            padding-bottom: 8px;
          }

          tr:last-child td {
            border-bottom: 1px solid $color-default-white;
          }
        }
      }

      p {
        margin: 0;
        font-size: 12px;
        line-height: 1.167;

        sub {
          font-size: 100%;
        }
      }
    }
  }

  .btn {
    max-width: 300px;

    @include vp-767 {
      max-width: 100%;
    }
  }
}