mixin about-card(card)
  .about-card&attributes(attributes)
    .about-card__img
      +picture("content", card.img, "jpg", 500, 540)
    .about-card__text
      h3.title.title--sf!=card.title
      h4.title.title--st!=card.subtitle
      +text(card.text)
      +table(card.table)
      +btn({text:"ЗАБРОНИРОВАТЬ ПОЛЕТ", type:"button"})