section.services
  h2.visually-hidden Наши услуги
  .services__bg
    +picture("content","bg","jpg", 1920, 2359, "Космос")
  .container
    include ../offers/offers
    include ../add-services/add-services
    include ../slider/slider
    .services__text
      p Ты&nbsp;знаешь о&nbsp;Космическом законе&nbsp;&mdash; представь себе&nbsp;то, что ты хочешь, и&nbsp;оно войдет в&nbsp;твою жизнь.