-const booking=["Руководство Virgin Galactic надеется, что массовые суборбитальные космические полеты начнутся до&nbsp;2022&nbsp;года. Компания уже несколько лет продает билеты на&nbsp;такие полеты по&nbsp;250 тыс долл.","Virgin Galactic получила задатков более чем 80&nbsp;млн долл, а&nbsp;количество желающих превышает 600&nbsp;человек."]
section.booking
  +picture("content", "cosm", "jpg", 1920, 914, "Космонавт с пивом лежит на луне, в далеке Земля")
  .container
    h2.title Успей забронировать!
    +text(booking)