.booking {
  position: relative;
  min-height: 914px;
  padding-top: 100px;

  @include vp-1919 {
    padding-top: 5.21%;
  }

  @include vp-1023 {
    min-height: 500px;
  }

  .container {
    display: flex;
    justify-content: space-between;

    @include vp-1023 {
      flex-direction: column;
    }
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    top: -4px;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, $color-black-pearl 8.85%, rgba($color-black-pearl, 0) 86.98%);
  }

  img {
    position: absolute;
    z-index: -3;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    object-fit: cover;
    object-position: left;
    filter: grayscale(1);
  }

  .text {
    width: 31.59%;
    margin-top: 3px;

    @include vp-1023 {
      width: 60%;
      margin-top: 50px;
      align-self: flex-end;
    }
  }
}