.burger {
  position: relative;
  z-index: 10;
  padding: 0;
  min-width: 28px;
  height: 28px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  color: $color-default-white;
  background-color: $color-transparent;
  cursor: pointer;
  overflow: hidden;
  transition: opacity $trans-default;

  @include hover-focus {
    opacity: 0.6;
  }

  @include vp-1023 {
    display: flex;
  }

  &__lines {
    width: 100%;
    height: max-content;

    display: flex;
    flex-direction: column;
    overflow: hidden;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 15px;

      display: block;
      width: 28px;

      border-top: 2.5px solid $color-default-white;
      border-radius: 2.5px;
      transform: rotate(45deg) translate(-150%);
      transition: transform 0.4s ease-in-out;
      transition-delay: 0s;
    }

    &::after {
      transform: rotate(-45deg) translate(150%);
    }
  }

  &__line {
    display: block;
    width: 100%;
    margin-bottom: 5px;

    border-top: 2px solid $color-default-white;
    border-radius: 2px;

    transition: transform 0.3s ease-in-out;
    transition-delay: 0.3s;

    &:nth-of-type(2) {
      transform-origin: left center;
      transition-delay: 0.1s;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
