.about-us {
  position: relative;
  padding: 100px 0;

  @include vp-1919 {
    padding: 5.21% 0;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 38.74%;
    background: linear-gradient(0, #010203 0%, rgba(1, 2, 3, 0) 84.9%);
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -5px;
    right: 0;
    left: 0;
    width: 100%;
    height: 18%;
    background: linear-gradient(180deg, #010203 0%, rgba(1, 2, 3, 0) 84.9%);
  }

  &__bg {
    position: absolute;
    z-index: -2;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .title::before {
    transition-delay: calc(var(--char-index ) * 0.15s);
  }

  &__title {
    margin-bottom: 106px;
    transform-origin: top left;

    @include vp-1919 {
      margin-bottom: 8.84%;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 150px;
    align-items: center;

    @include vp-1023 {
      grid-gap: 100px;
    }

    @include vp-767 {
      grid-gap: 0;
    }
  }

  .about-card:nth-child(2n) {
    flex-direction: row-reverse;

    @include vp-1023 {
      flex-direction: column;
    }

    .about-card__img {
      transform: translateX(70%);

      @include vp-1023 {
        transform: translateX(0);
      }
    }
  }
}