.swiper
  .swiper-wrapper
    .swiper-slide
      +picture("content", 'slide',"jpg", 800, 450, "Шесть людей в одинковых синих костюмах")
    .swiper-slide
      +picture("content", 'slide',"jpg", 800, 450, "Шесть людей в одинковых синих костюмах")
    .swiper-slide
      +picture("content", 'slide',"jpg", 800, 450, "Шесть людей в одинковых синих костюмах")
    .swiper-slide
      +picture("content", 'slide',"jpg", 800, 450, "Шесть людей в одинковых синих костюмах")
  .slider__buttons
    button.swiper-button-prev.swiper__btn
      +icon("arrow", 100,10)
    button.swiper-button-next.swiper__btn
      +icon("arrow", 100,10)