.text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 53px;
  font-size: 14px;
  
  p {
    margin: 0;
  }

  &--tree {
    grid-template-columns: repeat(3, 1fr);
    font-size: 16px;
  }
}
