.guarantees
  h3.title Гарантии
  blockquote Ни&nbsp;одна моя ракета еще не&nbsp;сделала удачную попытку, потому что в&nbsp;ней не&nbsp;было тебя! #[br]Будь первым! Колонизируй Марс!
    cite Илон Маск
  .guarantees__img
    +picture("content","ilon","png",396,396,"Илон Маск, показывающий большие пальцы вверх")