.guarantees(id="guarantees")
  h3.title(data-scroll data-splitting="") Гарантии
  blockquote Ни&nbsp;одна моя ракета еще не&nbsp;сделала удачную попытку, потому что в&nbsp;ней не&nbsp;было тебя! #[br]Будь первым! Колонизируй Марс!
    cite Илон Маск
  .guarantees__img(data-mouse-parallax)
    +picture("content","ilon","png",396,396,"Илон Маск, показывающий большие пальцы вверх")