.title {
  max-width: 580px;
  margin: 0;
  font-size: 48px;
  line-height: 1;
  font-weight: 400;
  font-family: $ff-space;
  color: $color-default-white;

  @include vp-1023 {
    max-width: 100%;
  }

  @include vp-767 {
    font-size: 22px;
  }

  &--diff {
    font-size: 60px;

    @include vp-1023 {
      font-size: 40px;
    }

    @include vp-767 {
      font-size: 30px;
    }

    strong {
      font-size: 110px;
      font-weight: 400;

      @include vp-1023 {
        font-size: 60px;
      }

      @include vp-767 {
        font-size: 40px;
      }
    }
  }

  &--sf {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    font-family: $ff-sf;

    @include vp-767 {
      font-size: 20px;
    }
  }

  &--st {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    font-family: $ff-sf;
    color: $color-navy-blue;
    text-transform: uppercase;

    @include vp-767 {
      font-size: 10px;
    }
  }
}
