.offer-card {
  max-width: 500px;
  text-align: center;

  @include vp-767 {
    margin: 0 auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    padding: 10px;
    margin-bottom: 25px;
    font-size: 24px;
    background: $color-transparent;
    border: 1px solid $color-default-white;

    @include vp-767 {
      font-size: 18px;
      min-height: 320px;
    }

    p {
      width: 49.4%;
      margin: 0;
      margin-bottom: 23.4%;

      span {
        color: $color-free-speech-red;
      }

      @include vp-767 {
        width: 100%;
      }
    }
  }

  &__new-price {
    font-size: 48px;

    @include vp-767 {
      font-size: 24px;
    }
  }

  &__old-price {
    display: block;
    position: relative;
    align-self: flex-end;
    margin-bottom: 16px;
    margin-right: 13.5%;
    color: $color-whisper;
    font-size: 14px;

    &::before {
      content:"";
      position: absolute;
      z-index: 2;
      top: 40%;
      left: 0;
      height: 1px;
      width: 104%;
      transform: rotate(17.1deg);
      background: $color-free-speech-red;
    }
  }
}
