.list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    position: relative;
    margin-bottom: 2px;
    padding-left: 36px;
    font-size: 24px;

    @include vp-1023 {
      padding-left: 26px;
      font-size: 18px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 4px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $color-default-white;

      @include vp-1023 {
        width: 10px;
        height: 10px;
      }
    }
  }
}
