.list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  color: $color-night-rider;

  &__item {
    position: relative;
    margin-bottom: 27px;
    padding-left: 32px;
    font-size: 36px;
    font-weight: 300;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 10px;
      width: 20px;
      height: 20px;
      background-color: $color-black;
    }
  }

  &--white {
    color: $color-default-white;

    .list__item::before {
      top: 0;
      background-color: $color-default-white;
    }
  }
}
